@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap');

$primary: #e4e0e1;
$secondary: #d6c0b3;
$soft: #ab886d;
$dark: #493628;

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-brand: 'Oleo Script', cursive;

body {
	font-family: $font-primary;
	margin: 0;
	padding: 0;
	background-color: $primary;
	color: $dark;
}
