@use 'init' as *;

.homeSocial {
	display: flex;
	width: 100%;
	height: 100%;
	min-height: 100vh;

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: 'Montserrat';
		color: black;
		font-weight: 600;
		width: 100%;
		margin: 0px;
	}

	.editButton {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.Kiri {
		// padding: 25px 50px;
		padding: clamp(15px, 5%, 50px) clamp(10px, 2.5%, 25px);
		box-sizing: border-box;
		width: 26%;
		display: flex;
		flex-direction: column;
		gap: 50px;
		// height: 100%;
		background-color: white;
		min-height: 100vh;

		.profil {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.containerFotoProfil {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-end;

				.profilUser {
					width: 100%;
					max-width: 100px;
					height: auto;
				}

				button {
					margin-left: -25px;
					background-color: $primary;
					border-radius: 10px;
				}
			}

			.userName {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 5px;

				font-size: 16px;
				font-size: clamp(10px, 2.1vh, 16px);
			}

			.editBio {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				gap: 5px;

				font-size: clamp(10px, 2.1vh, 16px);
			}
		}

		.buttonContainer {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.addPost,
			.logOut {
				width: 100%;
				background-color: $primary;
				border: none;
				outline: none;
				border-radius: 10px;
				padding: 10px;

				font-family: 'Montserrat';
				font-weight: 600;
				font-size: 14px;

				display: flex;
				justify-content: flex-start;
				align-items: center;
				gap: 10px;
				cursor: pointer;

				img {
					width: 100%;
					height: auto;
					max-width: 24px;
					max-height: 24px;
				}
			}
		}
	}

	.postContainer {
		display: flex;
		flex-direction: column;
		width: 58%;
		padding: 25px;
		box-sizing: border-box;
		justify-content: center;
		align-items: center;

		.postCard {
			display: flex;
			flex-direction: column;
			width: 75%;
			background-color: $soft;
			padding: 15px;
			border-radius: 15px;
			box-sizing: border-box;

			.userContainer {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				width: 100%;
				background-color: $primary;
				padding: 10px;
				box-sizing: border-box;
				border-radius: 10px 10px 0px 0px;

				img {
					width: 25px;
					height: 25px;
				}

				font-size: 20px;
				font-weight: 600;
			}

			.gambarPost {
				width: 100%;
				img {
					width: 100%;
					height: auto;
				}

				p {
					font-family: 'Poppins';
					font-size: 14px;
					font-weight: 500;
					color: black;
				}
			}

			.likeCommentContainer {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				width: 100%;
				gap: 20px;

				.likeCo,
				.komCo {
					display: flex;
					font-family: 'Montserrat';
					font-size: 14px;
					font-weight: 600;
					color: black;

					button {
						background-color: transparent;
						outline: none;
						border: none;
						cursor: pointer;
					}
				}
			}
		}
	}

	.Kanan {
		width: 20%;
		background-color: white;
		padding: 20px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		h2 {
			font-family: 'Oleo Script', cursive;
			font-size: 32px;
			text-align: center;
			width: 100%;
		}

		.userCardContainer {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 20px;

			.userCard {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				padding: 10px;
				background-color: $secondary;
				box-sizing: border-box;
				border-radius: 15px;

				img {
					width: 35px;
					height: 35px;
				}

				h5 {
					font-size: 20px;
					font-family: 'Montserrat';
					font-weight: 700;
				}
			}
		}
	}
}
